<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kuil.KuilLottery">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_seven_star"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/logo_seven_star"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bangolelautry"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true">
        <activity android:name=".acitvities.NotificationActivity"/>
        <activity
            android:name=".acitvities.DownLineActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".acitvities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".acitvities.SixActivity" />
        <activity android:name=".acitvities.BookGameActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".acitvities.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Bangolelautry.NoActionBar" />
        <activity android:name=".acitvities.ThirdActivity" />
        <activity android:name=".acitvities.SecondActivity" />
        <activity android:name=".acitvities.LoginActivity"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo_seven_star" />
        <service
            android:name=".commonutils.NotificationService"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>